# Algorithm requirements
opencv-python-headless # TODO: Test if working on windows. Otherwise revert back to "opencv-python"
numpy
numba
rawpy
imageio
#pyfftw

# TODO: Check if really needed (used for image alignment)
# scipy # 1.8.0 gives error on mac pyinstaller build

# Package
# MarkupSafe==2.1.2
